* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    margin: 40px 0 150px 42px;
}
.link-header {
    color: #17233D;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.88px;
    margin-right: 35px;
}